body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe8ef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #39324d;
    text-decoration: none;
    margin-bottom: 10px;
}

h1, h2 {
    color: #39324d;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px 0;
}

input, select, button {
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #39324d;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
}


legend h1 {
    margin: 0;
    background-color: white;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.link-container a {
    margin-left: 10px;
}